<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>
  <ul>
      <% for(var i=0;i<stu.length;i++){ %>
          <li><%= '姓名是：'+stu[i] %></li>
        <% } %>
  </ul>
</h1>
</body>
</html>