<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <meta http-equiv='X-UA-Compatible' content='ie=edge'>
  <title>Document</title>
  <script src='./vue/vue.js'></script>
</head>
<body>
  <div id='app'>
    <h2>v-model 双向数据绑定</h2>
   <p> 原始文本信息:{{message}}</p>
    <!--01 简单的绑定 -->
    <p><input type="text" v-model='message'></p>
    <!-- 02 lazy 懒加载绑定 -->
    <p><input type="text" v-model.lazy='message'></p>
    <!-- 03 .number -->
    <p><input type="text" v-model.number='message'></p>
    <!-- 04 .trim 去首尾空格 -->
    <p><input type="text" v-model.trim='message'></p>
    <h2>多选按钮绑定</h2>
    <p>
      <input type="checkbox" v-model='isTrue' id='is'>
      <label for="is">{{isTrue}}</label>
    </p>
    <h2>多选按钮绑定一个数组</h2>
    <p>
        <input type="checkbox" v-model='web_name' id='xm' value='小明'>
        <label for="xm">小明</label>
        <input type="checkbox" v-model='web_name' id='xh' value='小红'>
        <label for="xh">小红</label>
        <input type="checkbox" v-model='web_name' id='xw' value='小王'>
        <label for="xw">小王</label>
        <p>
          <ul>
            <li v-for='stu in web_name'>
              {{stu}}
            </li>
          </ul>
        </p>
      </p>
      <!-- 单选框的绑定 -->
      <h2>单选框的绑定</h2>
      <p>
        <input type="radio" value='男' id='nan' v-model='gender'>
        <label for="nan">男</label>
        <input type="radio" value='女' id='nv' v-model='gender'>
        <label for="nv">女</label>
        <p>请选择你的性别:{{gender}}</p>
      </p>
  </div>
  <script>
    new Vue({
      el:'#app',
      data:{
        message:'',
        isTrue:false,
        web_name:[],
        gender:''
      },
      methods:{}
    })
    </script>
</body>
</html>