/*
* @Author: Administrator
* @Date:   2018-08-01 11:54:51
* @Last Modified by:   Administrator
* @Last Modified time: 2018-08-01 14:34:57
*/

h2{
	border:2px dashed orange;
	width:80%;
	height:40px;
}